@media (max-width: 1339px) {
    .frame {
        .frame1 {
            text-align: center !important;
            margin: auto !important;
        }
        .frame2 {
            text-align: center !important;
            margin: auto !important;
        }
        .frame3 {
            text-align: center !important;
            margin: auto !important;
        }
    }
    .iframe {
        .iframe1 {
            text-align: center !important;
            margin: auto !important;
        }
        .iframe2 {
            text-align: center !important;
            margin: auto !important;
        }
        .iframe3 {
            text-align: center !important;
            margin: auto !important;
        }
        .iframe4 {
            text-align: center !important;
            margin: auto !important;
        }
        .iframe5 {
            text-align: center !important;
            margin: auto !important;
        }
        .iframe6 {
            text-align: center !important;
            margin: auto !important;
        }
    }
    .bell {
        .bell1 {
            text-align: center !important;
            margin: auto !important;
        }
        .bell2 {
            text-align: center !important;
            margin: auto !important;
        }
        .bell3 {
            text-align: center !important;
            margin: auto !important;
        }
        .bell4 {
            text-align: center !important;
            margin: auto !important;
        }
        .bell5 {
            text-align: center !important;
            margin: auto !important;
        }
        .bell6 {
            text-align: center !important;
            margin: auto !important;
        }
    }
    .import {
        .internet {
            .internet1 {
                margin: auto !important;
                text-align: center !important;
            }
            .internet2 {
                margin: auto !important;
                text-align: center !important;
            }
        }
    }
}
@media (max-width: 1326px) {
    .home-more {
        text-align: center !important;
        .big-box1 {
            text-align: center !important;
            margin: auto;
        }
        .big-box2 {
            text-align: center !important;
            margin: auto;
        }
        .big-box3 {
            text-align: center !important;
            margin: auto !important;
        }
        .big-box4 {
            text-align: center !important;
            margin: 0px auto !important;
        }
        .big-box5 {
            text-align: center !important;
            margin: auto !important;
        }
        .big-box6 {
            text-align: center !important;
            margin: auto !important;
        }
        .big-box7 {
            text-align: center !important;
            margin: auto !important;
        }
        .big-box8 {
            text-align: center !important;
            margin: auto !important ;
        }
    }
}
@media (max-width: 1099px) {
    .mini-mix1 {
        text-align: center !important;

        h1 {
            text-align: center !important;
        }
        p {
            text-align: center !important;
        }
    }
    .upwork {
        flex-wrap: wrap !important;
    }
    .mini-mix2 {
        p {
            text-align: center !important;
        }
        a {
            text-align: center !important;
        }
    }
    .mini-mix3 {
        p {
            text-align: center !important;
        }
        a {
            text-align: center !important;
        }
    }
    .mini-mix4 {
        p {
            text-align: center !important;
        }
        a {
            text-align: center !important;
        }
    }
}

@media (max-width: 750px) {
    .mix1 {
        .mixin2 {
            display: none !important;
        }
    }
    .mix2 {
        .icon {
            display: block !important;
        }
    }
    header {
        .surge {
            h1 {
                font-size: 50px !important;
            }
        }
    }
    .suprise {
        h1 {
            margin: -30px 0px !important;
            font-size: 22px !important;
        }
        .list {
            margin: 50px 0px !important;
        }
    }
}
@media (max-width: 607px) {
    .frame {
        .frame1 {
            width: 400px !important;
            img {
                margin: -20px 0px !important;
            }
        }
        .frame2 {
            width: 400px !important;
            img {
                margin: -20px 0px !important;
            }
        }
        .frame3 {
            width: 400px !important;
            img {
                margin: -20px 0px !important;
            }
        }
    }
    .iframe {
        .iframe1 {
            width: 400px !important;
            img {
                margin: -20px 0px !important;
            }
        }
        .iframe2 {
            width: 400px !important;
            img {
                margin: -20px 0px !important;
            }
        }
        .iframe3 {
            width: 400px !important;
            img {
                margin: -20px 0px !important;
            }
        }
        .iframe4 {
            width: 400px !important;
            img {
                margin: -20px 0px !important;
            }
        }
        .iframe5 {
            width: 400px !important;
            img {
                margin: -20px 0px !important;
            }
        }
        .iframe6 {
            width: 400px !important;
            img {
                margin: -20px 0px !important;
            }
        }
    }
    .bell {
        .bell1 {
            width: 400px !important;
            img {
                margin: -20px 0px !important;
            }
        }
        .bell2 {
            width: 400px !important;
            img {
                margin: -20px 0px !important;
            }
        }
        .bell3 {
            width: 400px !important;
            img {
                margin: -20px 0px !important;
            }
        }
        .bell4 {
            width: 400px !important;
            img {
                margin: -20px 0px !important;
            }
        }
        .bell5 {
            width: 400px !important;
            img {
                margin: -20px 0px !important;
            }
        }
        .bell6 {
            width: 400px !important;
            img {
                margin: -20px 0px !important;
            }
        }
    }
    .import {
        .internet1 {
            width: 400px !important;
            img {
                margin: -20px 0px !important;
            }
        }
        .internet2 {
            width: 400px !important;
            img {
                margin: -20px 0px !important;
            }
        }
    }
}
@media (max-width: 583px) {
    .upwork {
        justify-content: space-between;
        gap: 0px;
    }
}
@media (max-width: 517px) {
    header {
        .surge {
            img {
                top: 470px !important;
            }
        }
    }
    .super {
        text-align: center;
        margin: 150px auto 50px;
        h1 {
            font-size: 40px !important;
        }
    }
    .white {
        height: 400px !important;
    }
    .suprise {
        h1 {
            font-size: 16px !important;
        }
        h1 {
            font-size: 30px !important;
        }
        p {
            font-size: 10px !important;
        }
    }
    .mini-mix1 {
        p {
            font-size: 10px !important;
        }
        h1 {
            font-size: 25px;
        }
    }
}
@media (max-width: 500px) {
    .frame {
        .frame1 {
            width: 300px !important;
            img {
                width: 300px !important;
                margin: 0px 0px;
            }
        }
        .frame2 {
            width: 300px !important;
            img {
                width: 300px !important;
                margin: 0px 0px;
            }
        }
        .frame3 {
            width: 300px !important;
            img {
                width: 300px !important;
                margin: 0px 0px;
            }
        }
    }
    .iframe {
        .iframe1 {
            width: 300px !important;
            img {
                width: 300px !important;
                margin: 0px 0px;
            }
        }
        .iframe2 {
            width: 300px !important;
            img {
                width: 300px !important;
                margin: 0px 0px;
            }
        }
        .iframe3 {
            width: 300px !important;
            img {
                width: 300px !important;
                margin: 0px 0px;
            }
        }
        .iframe4 {
            width: 300px !important;
            img {
                width: 300px !important;
                margin: 0px 0px;
            }
        }
        .iframe5 {
            width: 300px !important;
            img {
                width: 300px !important;
                margin: 0px 0px;
            }
        }
        .iframe6 {
            width: 300px !important;
            img {
                width: 300px !important;
                margin: 0px 0px;
            }
        }
    }
    .bell {
        .bell1 {
            width: 300px !important;
            img {
                width: 300px !important;
                margin: 0px 0px;
            }
        }
        .bell2 {
            width: 300px !important;
            img {
                width: 300px !important;
                margin: 0px 0px;
            }
        }
        .bell3 {
            width: 300px !important;
            img {
                width: 300px !important;
                margin: 0px 0px;
            }
        }
        .bell4 {
            width: 300px !important;
            img {
                width: 300px !important;
                margin: 0px 0px;
            }
        }
        .bell5 {
            width: 300px !important;
            img {
                width: 300px !important;
                margin: 0px 0px;
            }
        }
        .bell6 {
            width: 300px !important;
            img {
                width: 300px !important;
                margin: 0px 0px;
            }
        }
    }
    .import {
        .internet1 {
            width: 300px !important;
            img {
                width: 300px !important;
                margin: 0px 0px;
            }
        }
        .internet2 {
            width: 300px !important;
            img {
                width: 300px !important;
                margin: 0px 0px;
            }
        }
    }
}
@media (max-width: 418px) {
    .white {
        height: 520px !important;
    }
}
@media (max-width: 378px) {
    .mix2 {
        .btn {
            display: none !important;
        }
    }
    header {
        .surge {
            button {
                width: 240px !important;
            }
            img {
                top: 550px !important;
            }
        }
    }
    .frame {
        .frame1 {
            width: 260px !important;
            img {
                width: 260px !important;
            }
        }
        .frame2 {
            width: 260px !important;
            img {
                width: 260px !important;
            }
        }
        .frame3 {
            width: 260px !important;
            img {
                width: 260px !important;
            }
        }
    }
    .iframe {
        .iframe1 {
            height: 500px !important;
            width: 260px !important;
            img {
                width: 260px !important;
            }
        }
        .iframe2 {
            height: 500px !important;
            width: 260px !important;
            img {
                width: 260px !important;
            }
        }
        .iframe3 {
            height: 500px !important;
            width: 260px !important;
            img {
                width: 260px !important;
            }
        }
        .iframe4 {
            height: 500px !important;
            width: 260px !important;
            img {
                width: 260px !important;
            }
        }
        .iframe5 {
            height: 500px !important;
            width: 260px !important;
            img {
                width: 260px !important;
            }
        }
        .iframe6 {
            height: 500px !important;
            width: 260px !important;
            img {
                width: 260px !important;
            }
        }
    }
    .bell {
        .bell1 {
            width: 260px !important;
            img {
                width: 260px !important;
            }
        }
        .bell2 {
            width: 260px !important;
            img {
                width: 260px !important;
            }
        }
        .bell3 {
            width: 260px !important;
            img {
                width: 260px !important;
            }
        }
        .bell4 {
            width: 260px !important;
            img {
                width: 260px !important;
            }
        }
        .bell5 {
            width: 260px !important;
            img {
                width: 260px !important;
            }
        }
        .bell6 {
            width: 260px !important;
            img {
                width: 260px !important;
            }
        }
    }
    .import {
        .internet1 {
            width: 260px !important;
            height: 500px !important;

            img {
                width: 260px !important;
            }
        }
        .internet2 {
            width: 260px !important;
            height: 500px !important;
            margin: -15px 0px !important;

            img {
                width: 260px !important;
            }
        }
    }
    .home-more {
        text-align: center !important;
        .big-box1 {
            text-align: center !important;
            margin: auto;
            font-size: 17px;
        }
        .big-box2 {
            text-align: center !important;
            margin: auto;
            font-size: 17px;
        }
        .big-box3 {
            text-align: center !important;
            margin: auto !important;
            font-size: 17px;
        }
        .big-box4 {
            text-align: center !important;
            margin: 0px auto !important;
            font-size: 17px;
            .lost {
                padding: 27px 40px !important;
            }
        }
        .big-box5 {
            text-align: center !important;
            margin: auto !important;
            font-size: 17px;
        }
        .big-box6 {
            text-align: center !important;
            margin: auto !important;
            font-size: 17px;
        }
        .big-box7 {
            text-align: center !important;
            margin: auto !important;
            font-size: 17px;
        }
        .big-box8 {
            text-align: center !important;
            margin: auto !important ;
            font-size: 17px;
        }
    }
}

@media (max-width: 362px) {
    .white {
        height: 430px !important;
    }
    .suprise {
        h1 {
            display: none;
        }
    }
}
@media (max-width: 336px) {
    .mini-mix2 {
        margin: auto !important;
        text-align: center !important;
    }
    .mini-mix3 {
        margin: auto !important;
        text-align: center !important;
    }
    .mini-mix4 {
        margin: auto !important;
        text-align: center !important;
    }
}
@media (max-width: 313px) {
    header {
        .surge {
            img {
                top: 630px !important;
            }
        }
    }
}
